<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>好高兴今天我买一个了iphone<%= a %>s</h1>
    <ul>
        <% for(var i= 0;i<news.length;i++){ %>
            <li><%= news[i].title %></li>
        <% } %>
    </ul>
</body>
</html>